Django==2.0.7
graphene==2.1.2
requests==2.19.1
# TODO(CORS): remove django-cors-headers once we have reverse proxy or ingress
django-cors-headers
raven==6.9.0
psycopg2==2.7.6.1
PyYAML==3.13
yamale==3.0.8
